/* 
    Document   : style
    Created on : Apr 1, 2013, 1:55:32 PM
    Author     : bojan
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#map{
    width: 940px;
    height: 500px;
}

.mapWrap{
    margin-top: 20px;
    width: 940px;
    padding: 10px;
    border: 1px solid #d5d5da;
    -webkit-box-shadow: 0 10px 6px -6px #707070;
    -moz-box-shadow: 0 10px 6px -6px #707070;
    box-shadow: 0 10px 6px -6px #707070;
    margin-bottom: 20px;
}

